<div class="navbar-inner">
    <ul class="nav">
        <li>
            <a class="brand" href="/">{{ 'HOME' | translate }}</a>
        </li>
        <li data-ng-repeat="item in menu" data-ng-show="global.user" ng-class="{active: item.active}" class="menu-item" >
            <img src="/{{item.icon}}">
            <a href="" data-ng-click="navigation(item)">{{item.title | translate}}</a>
        </li>
    </ul>   
    <ul class="nav pull-right" data-ng-hide="global.authenticated">
        <li><a href="signup">{{ 'SIGNUP' | translate }}</a>
        </li>
        <li class="divider-vertical"></li>
        <li><a href="signin">{{ 'SIGNIN' | translate }}</a>
        </li>
    </ul>
    <ul class="nav pull-right" data-ng-show="global.authenticated">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
				{{global.user.name}} <b class="caret"></b>
			</a>
            <ul class="dropdown-menu">
                <li><a href="/signout">{{ 'SIGNOUT' | translate }}</a>
                </li>
            </ul>
        </li>
    </ul>
     <ul class="nav pull-right">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                {{ 'LANGUAGE' | translate }} <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li data-ng-repeat="lang in languages" ><a data-ng-click="changeLanguale(lang)">{{ lang | translate }}</a>
                </li>
            </ul>
        </li>
    </ul>
</div>

<div class="alert alert-block alert-{{notification.get().type}}" data-ng-show="notification.get().body">
    <h4>{{notification.get().title}}</h4>
    <p>{{notification.get().body}}</p>
</div>
