[Desktop Entry]
Encoding=UTF-8
Name=Link to home,building,homepage,house,casa
Type=Link
URL=http://findicons.com/icon/55366/home?id=55491
Icon=text-html
